@media screen and (max-width: 980px) {

	/*top bar*/
	.top-wrap {
		width: 730px;
	}

	/*content*/
	.middle-wrap {
		width: 730px;
	}

	.content-box--main {
		width: 360px;
	}
	
	/*about me*/
	#profile-pic {
		width: 100%;
		float: none;
		margin: 10px 0px 10px 0px;
	}
	
	/*portfolio*/
	.portfolio-item__odd, .portfolio-item__even {
		float: none;
		position: relative;
		width: 100%;
		height: auto;
		/*margin: 30px 0px 30px 0px;*/
	}

	/*content*/
	input {
		/*margin: 10px 0px 20px 0px;
		border: #CCCCCC solid 1px;*/
		padding: 10px 5% 10px 5%;
		width: 90%;
		color: #cccccc;
	}

	textarea {
		/*margin: 10px 0px 20px 0px;
		border: #CCCCCC solid 1px;*/
		padding: 10px 5% 10px 5%;
		width: 90%;
		height: 200px;
		color: #CCCCCC;
	}

}

@media screen and (max-width: 768px) {

	/*top bar*/
	.top-wrap {
		width: 90%;
		padding: 0px 5% 0px 5%;
	}

	/*content*/
	.middle-wrap {
		width: 90%;
		padding: 15px 5% 15px 5%;
	}

	.content-box--main {
		float: none;
		margin: 15px 0px 15px 0px;
		padding: 15px 5% 15px 5%;  
	  	width: 90%;
	  	overflow: auto;
	}

	.content-box--connect {
		float: none;
		margin: 15px 0px 15px 0px;
		padding: 15px 5% 15px 5%; 
		width: 90%;
		overflow: auto;
	}
	
	/*about me */
	#profile-pic {
		float: left;
		margin: 10px 25px 10px 0px;
		width: 50%;
	}

	/*portfolio*/
	.portfolio-item__odd {
		float: left;
		position: relative;
		width: 45%;
		height: auto;
		/*margin: 30px 0px 30px 0px;*/
	}

	.portfolio-item__even {
		float: right;
		position: relative;
		width: 45%;
		height: auto;
		/*margin: 30px 0px 30px 0px;*/
	}

	/*contact*/

}

@media screen and (max-width: 640px) {

	/*top bar*/
	.top-wrap {
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
		width: 100%;
	}
	.top-bar__name {
		float: none;
		padding: 22px 0px 22px 0px;
		width: 100%;
		text-align: center;
		background-color: #4aaaa5;
	}

	.top-bar__navigation {
	 	float: none;
	 	margin: 0px 0px 0px 0px;
	 	padding: 35px 0px 35px 0px;
	 	width: 100%;
	 	text-align: center;
	 	color: #dddddd;
	}

	.nav-link-box {
		float: left;
		width: 32%;
	}
	.nav-link-spacer {
		float: left;
		margin: 0px 0px 0px 0px;
	}

	/*content*/

	/*about me*/
	#profile-pic {
		width: 100%;
		float: none;
		margin: 10px 0px 10px 0px;
	}

	/*portfolio*/
	.portfolio-item__odd, .portfolio-item__even {
		float: none;
		position: relative;
		width: 100%;
		height: auto;
		/*margin: 30px 0px 30px 0px;*/
	}

	/*contact*/

}