@media screen and (max-width: 980px) {

	.top-wrap {
		width: 730px;
	}

	.middle-wrap {
		width: 730px;
	}

	.middle-bar-content-box__main {
		width: 360px;
	}
	
	#profile-pic {
		width: 100%;
		float: none;
		margin: 10px 0px 10px 0px;
	}
	
	.portfolio-item__left, .portfolio-item__right {
		float: none;
		position: relative;
		width: 100%;
		height: auto;
	}

	input {
		padding: 10px 5% 10px 5%;
		width: 90%;
		color: #cccccc;
	}

	textarea {
		padding: 10px 5% 10px 5%;
		width: 90%;
		height: 200px;
		color: #CCCCCC;
	}

}

@media screen and (max-width: 768px) {

	.top-wrap {
		width: 90%;
		padding: 0px 5% 0px 5%;
	}

	.middle-wrap {
		width: 90%;
		padding: 15px 5% 15px 5%;
	}

	.middle-bar-content-box__main {
		float: none;
		margin: 15px 0px 15px 0px;
		padding: 15px 5% 15px 5%;  
	  	width: 90%;
	  	overflow: auto;
	}

	.middle-bar-content-box__connect {
		float: none;
		margin: 15px 0px 15px 0px;
		padding: 15px 5% 15px 5%; 
		width: 90%;
		overflow: auto;
	}
	
	#profile-pic {
		float: left;
		margin: 10px 25px 10px 0px;
		width: 50%;
	}

	.portfolio-item__left {
		float: left;
		position: relative;
		width: 45%;
		height: auto;
	}

	.portfolio-item__right {
		float: right;
		position: relative;
		width: 45%;
		height: auto;
	}

}

@media screen and (max-width: 640px) {

	.top-wrap {
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
		width: 100%;
	}
	.top-bar__name {
		float: none;
		padding: 22px 0px 22px 0px;
		width: 100%;
		text-align: center;
		background-color: #4aaaa5;
	}

	.top-bar__navigation {
	 	float: none;
	 	margin: 0px 0px 0px 0px;
	 	padding: 35px 0px 35px 0px;
	 	width: 100%;
	 	text-align: center;
	 	color: #dddddd;
	}

	.nav-link-wrap {
		float: left;
		width: 32%;
	}
	.nav-link-spacer {
		float: left;
		margin: 0px 0px 0px 0px;
	}

	#profile-pic {
		width: 100%;
		float: none;
		margin: 10px 0px 10px 0px;
	}

	.portfolio-item__left, .portfolio-item__right {
		float: none;
		position: relative;
		width: 100%;
		height: auto;
	}

}